@import "common/common";
#dialogCover{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);  //has no influence on children element
  z-index: 3000;
}